.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.theme-color {
    color: #6366F1;
}


.errorMassage {
    padding: 1rem;
    background-color: #F5D7DA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:1rem;
    margin-bottom: 2rem;
}