.courses {

    .courseParent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .courseChiled {
            display: block;

            img {
                margin-top: 2rem; 
                margin-bottom: 2rem;
            }

            .price {
                display: flex;
                column-gap: 0.7rem;

                .Price {
                    color: $theme;
                }

                .DiscountPrice {
                    color: #EF4444;
                }
            }

            .like {
                display: flex;
                column-gap: 1rem;
            }
        }
    }
}
