<!-- Download Our App -->
<section class="DownloadOurApp container">
    <div>
        <img class="phone" src="/images/Download.svg" alt="">
    </div>
    <div class="RightSection">
        <h2 class="lt">Download Our App<br> for Any Devices:</h2>

        <div class="DownloadParent">
            <div class="DownloadChiled">
                <div>
                    <p>App Store</p>
                    <img class="stars" src="/images/stars.svg" alt="">
                    <h4 class="mt">Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <a class="AppLink" href="http://">
                    <img src="/images/AppStore.svg" alt="">
                </a>
            </div>
            <div class="DownloadChiled">
                <div>
                    <p>Google Play</p>
                    <img class="stars" src="/images/stars.svg" alt="">
                    <h4 class="mt">App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <a class="AppLink" href="http://">
                    <img src="/images/googleplay.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>