<footer class="container">
    <div class="socialmedia">
        <a href="http://facebook.com">
            <img src="/images/facebook-footer.svg" alt="">
        </a>
        <a href="https://twitter.com/x">
            <img src="/images/X-footer.svg" alt="">
        </a>
        <a href="http://instagram.com">
            <img src="/images/instagram-footer.svg" alt="">
        </a>
        <a href="http://youtube.com">
            <img src="/images/youtupe-footer.svg" alt="">
        </a>
    </div>

    <p class="footer-text">&copy; @DateTime.Now.Year Silicon. All rights reserved. Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.</p>
</footer>