<!-- Integrate Top Work Tools -->
<section class="IntegrateTopWorkTools container">
    <div class="title">
        <h2 class="center lt">Integrate Top Work Tools</h2>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
    </div>
    <div class="WorkTools">
        <div>
            <img src="/images/WorkTools_1.svg" alt="">
            <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
        </div>
        <div>
            <img src="/images/WorkTools_2.svg" alt="">
            <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
        </div>
        <div>
            <img src="/images/WorkTools_3.svg" alt="">
            <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
        <div>
            <img src="/images/WorkTools_4.svg" alt="">
            <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
        </div>
        <div>
            <img src="/images/WorkTools_5.svg" alt="">
            <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
        </div>
        <div>
            <img src="/images/WorkTools_6.svg" alt="">
            <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
        </div>
        <div>
            <img src="/images/WorkTools_7.svg" alt="">
            <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
        </div>
        <div>
            <img src="/images/WorkTools_8.svg" alt="">
            <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
        </div>
    </div>

</section>