            <!-- showcase section -->
<section class="showcase container">
    <div class="showcase-info">
        <h2>Task Management Assistant You Gonna Love</h2>
        <p class="p1">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
        <button class="btn-theme">Ger started for free</button>
        <p class="p2">Largest companies use our tool to work efficiently</p>
        <div class="logos">
            <img src="/images/showcaselogo-1.svg" alt="">
            <img src="/images/showcaselogo-2.svg" alt="">
            <img src="/images/showcaselogo-3.svg" alt="">
            <img src="/images/showcaselogo-4.svg" alt="">
        </div>

    </div>
    <div class="showcase-img">
        <img src="/images/showcase-img.svg" alt="">
    </div>
</section>