@inherits LayoutComponentBase
@layout AccountLayout


    <div class="container account-detailss">
        <section id="account-details">
            <aside>
                 <ManageNavMenu />
            </aside>

        <div class="content">
            @Body
        </div>
    </section>
</div>






<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
