@inherits LayoutComponentBase
@layout AccountLayout


    <div class="container">
        <section id="account-details">
            <aside>
                 <Frontend.Components.Sections.AccountProfileAvatar/>
                 <ManageNavMenu/>
            </aside>
        <div class="content">
            @Body
        </div>
    </section>
</div>