header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        .left {
            display: flex;
            align-items: center;

            img {
                margin-right: 2rem;
            }

            a {
                margin-right: 1rem;
                text-decoration: none;
                color: black;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .right {
            display: flex;
            column-gap: 1.5rem;
            align-items: center;

            img {
                width: 80px;
                height: 80px;
                border-radius: 100px;
            }
        }
    }
}
